<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{admin/layouts/admin-layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ARTICLES DETAIL</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
</head>
<body>
<div layout:fragment="mainContent">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h2 class="card-title">ARTICLE DETAIL</h2>
                        </div>
                            <h3 class="m-3 text-bold" th:text="${article.get().title}"></h3>
                            <hr class="mt-0 mb-0 mr-3 ml-3">
                            <div class="card-body">
                                <h5 th:text="${article.get().description}"></h5>
                            </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-danger text-bold"
                             th:text="'Author: '+${article.get().author}">
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>